<%= form_for @invoice do |f| %>
  <% # Form errors %>
  <% if @invoice.errors.any? %>
    <div class="grid_16" id="error_explanation">
      <% @invoice.errors.full_messages.each do |msg| %>
        <p class="error">
          <%= msg %>
        </p>
      <% end %>
    </div>
  <% end %>
  <% # Client selection %>
  <div class="grid_8">
    <%= f.label :client_id %>
    <br/>
    <%= f.collection_select :client_id, Client.all, :id, :name, :prompt=>'select'%>
  </div>
  <% # Invoice status %>
  <div class="grid_8">
    <%= f.label :status %>
    <br/>
    <% @sts = ['pending', 'paid']%>
    <%#= f.select :status, ['pending', 'paid'].collect { |s| [t('.'+s), s] } %>
    <%= f.select :status, @sts.collect{ |s| [t('.'+s), s] }, :prompt=>"select" %>
  </div>
    <div class="grid_16">
    <%= f.submit t('.save_invoice') %>
    <%= link_to t('.cancel'), invoices_path, :confirm => t('.confirm_cancel') %>
  </div>
  
<% end %>
