<h1>
  <%= t('.list_invoices') %>
  <span class="right">
    <%= link_to "Client", clients_path %>
  </span>
  <span class="right">
    <%= link_to t('.new_invoice'), new_invoice_path %>
  </span>
  
</h1>
<table>
  <thead>
        <tr>
     <!--  <th>
        <%#= t('.id') %>
      </th> -->
      <th>
        <%= t('.invoice_date') %>
      </th>
      <th>
        <%= t('.client') %>
      </th>
      <th>
        <%= t('.status') %>
      </th>
      <th>
        <%= t('.total_amount') %>
      </th>
       <th>
        <%= t('.collection') %>
      </th>
      </th>
       <th>
        <%= t('.balance_due') %>
      </th>
      <th>
        <%= t('.actions') %>
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="6">
        <%#= will_paginate @invoices %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td ckass="align-right">
          <%#= l(invoice.created_at, :format => :short) %>
          <%= link_to h(invoice.created_at.strftime("%B %d, %Y %H:%M")), invoice%>

          <%#= invoice.id %>
        </td>
        <td>
          <%= invoice.client.name %>
          <% unless invoice.client.email.empty? %>
            \/
            <%= mail_to invoice.client.email, 'Email' %>
          <% end %>
        </td>
        <td class="invoice-status invoice-status-<%= invoice.status %>">
          <%= t('.' + invoice.status) %>
        </td>
          <%# @item = Item.all%>
          <%# @item.each do |i|%>
        <td class="align-right">
          <%#= number_to_currency(invoice.total_am) %>
          <%= number_to_currency(invoice.total) %>
          <%#= number_to_currency (invoice.item.total_price) %>

          <%= number_to_currency(invoice.total_price) %>
        </td>
        <td>
        </td>
        
        <td>
          
        </td>
        <td>
          <%= link_to t('.show'), invoice %>
          <%= link_to t('.pdf'), invoice_path(invoice, :format => :pdf), :target => '_blank' %>
          <%= link_to 'Add collection', edit_invoice_path(invoice) %>
          <%= link_to 'Collect', edit_item_path(invoice)%>
          <%#= link_to t('.destroy'), invoice, :confirm => t('.confirm_delete'), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
