<style type="text/css">
  #qw{
    width: 10%;
    float: left;
  }
</style>
<br>
<div class="grid_16">
  <h1>
    <%= t('.edit_invoice') %>
  </h1>
</div>
<%#= render 'form' %>
<%= form_with(model: @item, local: true) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>

   <div class="field" id='one'>
    <%= form.label :client_name %>
    <%= form.collection_select :client_id, Client.all, :id, :name %>
  </div>


   <div class="field" id='one'>
    <% @sts = ['pending', 'paid']%>
    <%= form.label :status %>
    <%= form.select :status, @sts.collect{ |s| [t('.'+s), s] }%>
  </div>

  <div class="field" id='one'>
    <%= form.label :unit_cost %>
    <%= form.text_field :unit_cost, :class => 'unit_cost-input'  %>
  </div>

  <div class="field" id='four'>
    <%= form.label :discount %>
    <%= form.text_field :discount, :class => 'discount-input' %>
  </div>
   <div class="field" id='five'>
    <%= form.label :collection_amount %>
    <%= form.text_field :tax %>
  </div>
  <div class="field" id='five'>
    <%= form.label :balance %>
    <%#= number_to_currency(@item.gross_amount)%>
    <%= form.text_field :balance, :value=>@item.gross_amount%>
    <span class="total_amt"></span>
  </div>


  <div class="field">
  		<%= form.label :Total%>
  	<span class="total-price">
        <%= number_to_currency(@item.total_price) %>
    </span>
  </div>
</div>

<div class="field">
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>



  <script>
    
    $(function(){
      function get_new_index() {
        if ($('table#items_table tbody tr:last td:first input').length == 0) {
          return 0;
        }
        else {
          return parseInt($('table#items_table tbody tr:last td:first input').attr('name').match(/\d+/)[0]) + 1;
        }
      }
    
      $('#add_item').click(function(){
        $('#item_template').tmpl({index: get_new_index()}).appendTo('table#items_table tbody');
        return false;
      });
    
      $('.delete_item').live('click', function(){
        var context = $(this).parent().parent()
        if ($('input[name*=_destroy]', context).length == 0) {
          context.remove(); // If its a new item then simply remove it from the dom
        }
        else {
          context.hide();
          $('input[name*=_destroy]', context).val('true'); // This will tell the server to delete the record
        }
      });
    
      // Update totals
    
      function update_price(elem) {
        var context = $(elem).parent().parent()[0].tagName == 'TD' ? $(elem).parent().parent().parent() : $(elem).parent().parent();
        var tax = $('.tax-input', context).val();
        var balance = $('.balance-input', context).val();
      
        // Check they're numbers
        tax = isNaN(tax) ? 0 : tax;
        balance = isNaN(balance) ? 0 : balance;
      
        // Update
        // $('.total-price', context).html('$ ' + (quantity * unit_cost * (1 - (discount / 100.0))));
         $('.total-price', context).html('$ ' + (quantity * unit_cost * (1 - (discount / 100.0))));
      }
    
      $('.quantity-input').live('keyup', function(){ update_price(this); });
      $('.unit_cost-input').live('keyup', function(){ update_price(this); });
      $('.discount-input').live('keyup', function(){ update_price(this); });
      $('.tax-input').live('keyup', function(){ update_price(this); });
      $('.balance-input').live('keyup', function(){ update_price(this); });
    });

  </script>
















<script>
  $('#item_tax').on("change",function() {
    var sum = 0.0;
   var quantity = $("#item_tax").val();
   var price = "<%= @item.discount%>";
   var total = quantity * price;
   sum += total;
   $(".total_amt").text(sum); // sets the total price input to the quantity * price
});
</script>



<!-- <script>
  $('#addcart_quantity').on("change",function() {
    var sum = 0.0;
   var tax = "<%= @item.tax%>";
   var price = "<%= @item.total_price%>";
   var total = price * (1 - (tax / 100.0)
   sum += total;
   $(".total_amt").text(sum); // sets the total price input to the quantity * price
});
</script> -->

<!-- 
<script>
  $('#addcart_quantity').on("change",function() {
    var sum = 0.0;
   var tax = $("#addcart_").val();
   var price = "<%= @item.total_price%>";
   var total = price * (1 - (tax / 100.0)
   sum += total;
   $(".total_amt").text(sum); // sets the total price input to the quantity * price
});
</script> -->